<template>
  <div id="about">
    {{$t('frontend.about')}} page
    <br>
    <router-link :to="'/' + $vuexI18n.code">{{$vuexI18n.code}}</router-link>
    <ul>
      <li v-for="(val, key) in $store.getters['$vuexI18n/langs']" :key="key">
        <router-link :to="getRoute(val)">{{val.name}}</router-link>
      </li>
    </ul>
  </div>
</template>


<script>
export default {
  name: 'About',

  data() {
    return {};
  },
  methods: {
    getRoute({ code }) {
      const params = { ...this.$route.params }
      return `/${code + this.$route.path.replace('/' + params.lang, '')}`;
    },
  },

  mounted() {
  },
};
</script>


<style></style>

