<template>
<div>
   Works! | {{ $vuexI18n.code }}
    <br>
    {{$t('frontend.home')}}
    <br>
    {{$store.getters['$vuexI18n/translate']('frontend.home')}}
    <br>
    <router-link :to="'/' + $vuexI18n.code + '/about'">{{$t('frontend.about')}}</router-link>

    <div style="padding: 10px; background-color: red; color: white">
      {{$t('frontend.not-found')}}
    </div>
</div>
</template>

<script>
export default {

}
</script>
